# Ignore the Zone.Identifier file
hcp_task.tgz:Zone.Identifier

# Ignore specific large data folders within hcp_task/
/hcp_task/concatenated_data/
/hcp_task/subjects/

# Optional: If you want to keep the .gitkeep convention for empty ignored folders
# /hcp_task/concatenated_data/.gitkeep
# /hcp_task/subjects/.gitkeep
