# Ignore the Zone.Identifier file
hcp_task.tgz:Zone.Identifier

# Ignore specific large data folders within hcp_task/
/hcp_task/concatenated_data/
/hcp_task/subjects/

# Optional: If you want to keep the .gitkeep convention for empty ignored folders
# /hcp_task/concatenated_data/.gitkeep
# /hcp_task/subjects/.gitkeep

# macOS system files
.DS_Store
._*

# If regions.npy is a data file you don't want to track
/hcp_task/regions.npy
hcp_task/saved_models/
hcp_task/evaluation_plots/